{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mee Today</title>
    <!-- Add this in your base.html or view_calendar.html head section -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js'></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="{% url 'home' %}">Mee Today</a>
        </div>
        <div class="menu">
            {% if user.is_authenticated %}
                <span>Hello, {{ user.username }}</span>
                <a href="{% url 'calendar' %}">View Calendar</a>
                <a href="{% url 'notifications' %}">Notifications</a>
                <a href="{% url 'edit_profile' %}">Edit Profile</a>  <!-- New Edit Profile Button -->
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- <footer>
        <p>© 2024 Mee Today. All rights reserved.</p>
    </footer> -->
</body>
</html>
