{% extends 'base.html' %}

{% block content %}
{% load custom_filters %}
{% block css %}
{% load static %}

    <link rel="stylesheet" href="{% static 'edit_profile.css' %}">
{% endblock %}

    <div class="container">
        <h1>Edit Profile</h1>
        <form id="edit-profile-form" method="post" action="{% url 'edit_profile' %}">
            {% csrf_token %}
            <!-- Display username -->
            <div class="form-group">
                <label>Name:</label>
                <span>{{ user.username }}</span>
            </div>

            <!-- Dynamic fields from the context -->
            {% for field in fields %}
                <div class="form-group">
                    <label for="{{ field }}">{{ field|title }}:</label>
                    <input 
                        type="text" 
                        name="{{ field }}" 
                        id="{{ field }}" 
                        value="{{ user_profile|get_attribute:field }}" 
                    {% if not editable %}readonly{% endif %}/>
                </div>
            {% endfor %}



            <!-- Edit button -->
            <button type="button" id="edit-btn">Edit</button>

            <!-- Save changes button -->
            <button type="submit" id="save-btn" style="display: none;">Save Changes</button>
        </form>

        <!-- Change Password Section -->
        <form id="change-password-form" method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            <h2>Change Password</h2>

            <div class="form-group">
                <label for="current_password">Current Password:</label>
                <input type="password" name="current_password" id="current_password" required>
            </div>
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input type="password" name="new_password" id="new_password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" id="confirm_password" required>
            </div>

            <button type="submit">Change Password</button>
        </form>
    </div>

    <script>
        const editButton = document.getElementById('edit-btn');
        const saveButton = document.getElementById('save-btn');
        const inputs = document.querySelectorAll('#edit-profile-form input');

        editButton.addEventListener('click', () => {
            inputs.forEach(input => input.removeAttribute('readonly'));
            editButton.style.display = 'none';
            saveButton.style.display = 'inline-block';
        });
    </script>
{% endblock %}