{% extends 'base.html' %}

{% block css %}
{% load static %}

    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ profile.user.username }}'s Profile</h2>
    <p><strong>Everyone calls him:</strong> {{ profile.user.username }}</p>
    <p><strong>He is a </strong> {{ profile.profession }}</p>
    <p><strong>Location:</strong> {{ profile.location }}</p>
    <p><strong>Description:</strong> {{ profile.description }}</p>
    
    <!-- Profession Details -->
    <p><strong>He is a:</strong> {{ profession_details }}</p>

    <!-- Appointment Form -->
    <form method="POST">
        {% csrf_token %}
        <h3>Request an Appointment</h3>
        <textarea name="reason" placeholder="Reason for appointment" required></textarea>
        <input type="datetime-local" name="date" required>

        <label for="duration">Select Duration:</label>
        <select name="duration" required>
            <option value="15">15 mins</option>
            <option value="30">30 mins</option>
            <option value="45">45 mins</option>
            <option value="60">1 hour</option>
            <option value="1440">Full day</option>
        </select>

        <button type="submit">Request Appointment</button>
    </form>
</div>
{% endblock %}